@import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");
.listContainer {
  display: contents;
}

.listCard {
  margin: 0.5em;
}

.listCard {
  background-color: transparent;
  perspective: 1000px;
  visibility: hidden;
}

.listCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.listCard:hover .listCardInner {
  transform: rotateY(180deg);
}

.listImgContainer,
.listDetails {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.listImgContainer {
  background-color: #bbb;
  color: black;
}

.listImg {
  width: 100%;
  height: 100%;
}

.listDetails {
  background-image: linear-gradient(
    to right top,
    #ff00eb,
    #e225ef,
    #c335f1,
    #a23ff2,
    #7e46f0,
    #5d62fb,
    #3777ff,
    #0088ff,
    #00abff,
    #00c9ff,
    #00e4fe,
    #5ffbf1
  );
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Train One", cursive;
  padding: 0.2em;
  word-break: break-word;
  font-weight: 900;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
