@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Righteous&display=swap");
.cardContainer {
  height: 70vh;
  width: 80vw;
  background-image: linear-gradient(
    to right top,
    #322c2f,
    #41313e,
    #4d3751,
    #534067,
    #504a80,
    #475893,
    #3466a4,
    #0075b3,
    #0087b8,
    #0097b8,
    #00a6b3,
    #3db4ad
  );
  box-shadow: 5px 5px 5px grey;
  border: 1px solid white;
  border-radius: 1em;
  position: absolute;
  z-index: 1000;
}

#topRightIconContainer {
  position: absolute;
  height: 2em;
  width: 2em;
  right: 0;
  margin: 0.5em 0.5em 0 0;
}

#topRightIconContainer:hover {
  cursor: pointer;
}

#topRightIconContainer > svg {
  height: 100%;
  width: 100%;
}

#cardImageContainer {
  background-image: url(https://www.allianceplast.com/wp-content/uploads/2017/11/no-image.png);
  height: 50%;
  width: 100%;
  border-radius: 1em 1em 0 0;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-color: pink;
}

#cardImageContainer > img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-radius: 1em 1em 0 0;
}

#mainDescriptionContainer {
  /* background-color: pink; */
  height: 50%;
  width: 100%;
  border-radius: 0 0 1em 1em;
  color: white;
  display: flex;
  flex-direction: column;
}

.cocktailName {
  font-size: 8vw;
  word-wrap: break-word;
  font-family: "Pacifico", cursive;
  text-align: center;
  text-shadow: 2px 2px #ff0000;
}

.ingredientsContainer {
  justify-content: center;
  font-size: 1.2em;
  font-family: "Righteous", cursive;
  /* word-wrap: break-word; */
  height: 52%;
  width: 100%;
  overflow-y: auto;
  /* text-align: -webkit-center; */
  text-align: start;
  /* padding-left: 1em; */
  /* margin-top: 1em; */
}

.ingredientsContainer > table {
  height: 100%;
}

.instructions {
  padding: 0 1em 0 1em;
  font-size: 1em;
  overflow-y: auto;
  height: 100%;
}

.mobileInstructions {
  display: none;
}

.instructionBtn {
  text-align: center;
  margin-top: 1em;
}

.instructionBtn > button {
  font-family: "Righteous", cursive;
  background-image: linear-gradient(
    to right top,
    #ff0000,
    #ff0046,
    #ff0081,
    #ff00c0,
    #e900ff
  );
  border-radius: 0.5em;
  background-color: white;
  color: black;
}

@media screen and (min-width: 480px) {
  .cardContainer {
    display: flex;
    height: 70vh;
    width: 60vw;
    z-index: 1000;
  }
  #mainDescriptionContainer {
    height: 100%;
    padding-top: 2em;
  }
  #cardImageContainer {
    height: 100%;
    border-radius: 1em 0 0 1em;
  }
  #cardImageContainer > img {
    border-radius: 1em 0 0 1em;
  }
  .cocktailName {
    font-size: 3vw;
  }
  .ingredientsContainer {
    font-size: 2vw;
  }
  .instructions {
    padding: 1em;
    font-family: "Righteous", cursive;
    text-align: justify;
    font-size: 2vw;
  }
}
