@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Righteous&display=swap");

.App {
  background-color: black;
  height: 100vh;
}

.appContainer .row {
  justify-content: center;
  padding-top: 0.5em;
}

.appContainer .row:first-child {
  justify-content: space-around;
}

.appContainer .row:last-child {
  margin-top: 0.5em;
}

.contentContainer {
  height: 70vh;
  overflow-y: auto;
}

#noResultContainer {
  color: white;
  display: flex;
  align-items: center;
  font-size: 10vw;
  font-family: "Righteous", cursive;
}

@media screen and (min-width: 480px) {
  .appContainer .row:last-child {
    margin-top: 2em;
  }
}
