.App {
  background-color: black;
  height: 100vh;
}

.appContainer .row {
  justify-content: center;
  padding-top: 0.5em;
}

.appContainer .row:last-child {
  margin-top: 0.5em;
}

.contentContainer {
  height: 70vh;
  overflow-y: auto;
}

@media screen and (min-width: 480px) {
  .appContainer .row:last-child {
    margin-top: 2em;
  }
}
