.modal-body {
  display: flex;
  justify-content: space-around;
}

.modal-body > .row {
  width: -webkit-fill-available;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

#loginDivider {
  border-right: solid;
}

#loginAlert {
  position: absolute;
  bottom: 0;
  visibility: hidden;
}

.formFooter {
  display: flex;
  justify-content: center;
}

.formFooter button {
  margin: 1em;
}

@media screen and (max-width: 426px) {
  #loginDivider {
    border-bottom: solid;
    border-right: none;
  }
}
